@import url('https://fonts.googleapis.com/css2?family=Kanit&family=PT+Serif&family=Pacifico&display=swap');
*{
    margin:0%;
    padding:0%;
    box-sizing:border-box;
}
:root{
     --headingFont: 'Kanit', sans-serif;
     --paraFont:'PT Serif', serif;
     --textShadow: 0 0 10px rgba(0, 0, 0, 0.2),
     0 0 20px rgba(0, 0, 0, 0.4),
     0 0 30px rgba(0, 0, 0, 0.6),
     0 0 40px rgba(0, 0, 0, 0.8),
     0 0 50px rgba(0, 0, 0, 1);
     --greenishColor:#94A684;
     --boxShadow:0 4px 8px rgba(0, 0, 0, 0.8); 
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style: none;
}
p{
    font-family: var(--paraFont);
}
h1,h2{
    font-family: var(--headingFont);
}
h1{
    font-size: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}
body{
   width: 100%;
   height: 100%;
   letter-spacing:5px;
   font-size: 75%;
   background-color:#e3e6e8;
}
.main-container{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-areas:  "logo   header  header"
                          "banner banner banner"
                          "habits habits habits"
                          "cut-ties cut-ties cut-ties"
                          "footer footer footer";
                          grid-template-columns:1fr 1fr 1fr;
                          grid-template-rows:75px 600px  650px 600px 100px;
}
.logo{

    grid-area: logo;
    margin-left:10%;
    margin-top: 4%;
}     
.logo span.material-symbols-outlined{
    font-size:30px;
    color:#000;;
}
.logo span.material-symbols-outlined:hover{
    color:#FFEEF4;
    text-shadow: var(--textShadow);
}            
header{
    grid-area: header;
    background-color:#e3e6e8;
    font-family: var(--headingFont);
}
nav{
    padding-top:3%;
}
nav ul{
    display: flex;
    
}
nav ul li a{
    flex:1fr;
    margin-left:2%;
    font-size:1.2em;
    font-weight:900;
    transition: .4s text-shadow ease-in;
    color:#000;
    
}
nav ul li a:hover{
    text-shadow:var(--textShadow);
    color:#FFEEF4;
}
nav ul li:nth-child(1) {
     flex:3;
     margin-left:15%;
}
 
nav ul li:nth-child(2) {
    flex:4;

}

nav ul li:nth-child(3){
flex: 4;
} 



.banner{
    grid-area: banner;
    padding-top:10%;
    background-image: url('./image/banner.jpg');
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;  
    /* background: radial-gradient(circle, #94A684, #FFEEF4); */
    position: relative;
}
.banner-text{
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
  
   
}
.banner-text h1{
    font-family: var(--headingFont);
    font-size:10em;
    font-weight:900;
    color:var(--greenishColor);
    text-shadow:var(--textShadow);
}

.banner-text p{
    font-family: var(--headingFont);
    font-size:1.6em;
}

.habits{
    grid-area: habits;
    padding:10px;
    background-color:#FFEEF4;
    position: relative;

}
.habCircle{
    width:500px;
    height:450px;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:50%;
    border: 10px solid #E4E4D0; 
    box-shadow: var(--boxShadow);
    display:grid;
    grid-template-areas:"arrows arrows arrows "
                        "cue craving routine"
                        "... reward ...";
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 2fr 2fr;
}
.arrows{
  grid-area:arrows;
  background-image: url('./image/arrow1.png');
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;  
  
}
.hab{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: var(--textShadow);
    
}
.cue{
    grid-area:cue;   
}
.craving{
    grid-area:craving;
    height: 130px;
    width: 180px;
    border-radius: 50%;
    background-color:#E4E4D0;

}
.craving h2{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%); 

}
.routine{
    grid-area:routine;

}
.reward{
    grid-area:reward;
}
.cut-ties{
    grid-area: cut-ties;
    background-color:#E4E4D0;
    position: relative;
}
.cut-ties h1{
    padding-top:5%;
}
.cut-container{
    position: absolute;
    top:55%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width:700px;
    height:300px;
}
.cut{
    display: flex;
    align-items: center;
    justify-content:center;
    margin: 10px;
    height:50px;
    font-size:1.2em;
    border: 1px solid #FFEEF4;
    border-radius: 10px 5px;
    transition: 2s background-color linear;
}
.cut:hover{
    background-color: var(--greenishColor);
    border:none;
    font-weight:bold;
}
footer{
    grid-area: footer;
    background-color:#FFEEF4;
}
footer p{
   display: flex;
   align-items: center;
   justify-content: center;
   padding-top:3%;
}